<main class="p-5">
    <div>
        <span class="badge text-bg-info">{{> title data="Facebook" big=false }}</span>
        <hr>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Users:</div>
                {{#each users}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Friends: </div>
                {{#each friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Mutual_friends:</div>
                {{#each mutual_friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Mutual_friends:</div>
                {{#each mutual_friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <ul class="list-group list-group-flush">
                {{#if groups}}
                <div class="alert alert-primary">Groups:</div>
                {{#each groups}}
                <li class="list-group-item">id:{{id}}</li>
                <li class="list-group-item">name:{{name}}</li>
                <li class="list-group-item">description:{{description}}</li>
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Members:</div>
                {{#each members}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                <div class="alert alert-primary">Members:</div>
                {{#each members}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
        {{/if}}
        <div>
            <ul class="list-group list-group-flush">
                {{#each friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
            </ul class="list-group list-group-flush">
        </div>
        <br>
        <div>
            <ul>

                {{#each mutual_friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                {{#if mutual_friends}}
                {{#each mutual_friends}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
        {{/each}}

        <br>
        <div>
            <ul class="list-group list-group-flush">
                {{#if groups}}
                <div class="alert alert-primary">Groups: </div>
                {{#each groups}}
                <li class="list-group-item">id:{{id}}</li>
                <li class="list-group-item">name:{{name}}</li>
                <li class="list-group-item">description:{{description}}</li>
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                {{#each members}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        <br>
        <div>
            <ul class="list-group list-group-flush">
                {{#each members}}
                <li class="list-group-item">id: {{id}} </li>
                <li class="list-group-item">name: {{name}} </li>
                <li class="list-group-item">gender: {{gender}} </li>
                <li class="list-group-item">age: {{age}} </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
        {{/if}}
        {{/each}}
        {{/each}}
        {{/each}}
    </div>
</main>