<main class="p-5">
    <div class="col-8">
        {{#with navigation}}
        <div class="card m-0">
            <ul class="nav">
                {{#each links}}
                <li class="nav-item  pl-1"><a class="nav-link" href="{{href}}">{{text}}</a></li>
                {{/each}}
            </ul>
        </div>
        {{/with}}
    </div>

    <h1 class="mt-5">Оформлення замовлення</h1>
    <div class="row">
        <div class="col-8">

            <div class="mt-3">
                {{#each buttons}}
                {{#if isPrimary}}
                <button class="btn btn-warning me-2">{{text}}</button>
                {{/if}}
                {{#if isOutline}}
                <button class="btn btn-outline-warning">{{text}}</button>
                {{/if}}
                {{/each}}
            </div>


            <section>

                <section>


                    {{#with form}}
                    {{#with input}}
                    <div class="row mt-4">
                        <div class="col-8">
                            {{#with surname}}
                            <label class="form label">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form text">{{caption}}</div>
                            {{/with}}
                </section>


                <hr class="col-10">

                {{#each switch}}
                <div class="col-3 mt-3">
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>

                </div>
                {{/each}}
                {{/with}}
                {{/with}}





                <hr>

                <div class="row p-3">
                    <div class="card">
                        {{#with delivery}}
                        <h3>{{title}}</h3>
                        {{#each select}}
                        <label class="form-label">{{label}}</label>
                        <div class="col-4">
                            <select class="form-select mb-4">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                                {{!--
                            </select> --}}
                        </div>
                    </div>

                    <div class="col-4">
                        {{!-- <select class="form-select mb-2"> --}}
                            <option selected>{{placeholder}}</option>
                            {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/each}}
                </div>
        </div>

        <div class="col-4 mt-3">
            {{#each delivery_type}}
            <div class="form-check">
                <label class="form-check-label">{{type}}</label>
                <input type="radio" class="form-check-input">
            </div>
            {{/each}}
        </div>

        <hr>

        {{#with payment}}
        <h3>{{title}}</h3>

        {{#each list}}
        <div class="form-check">
            <label class="form-check-label">{{type}}</label>
            <input type="radio" class="form-check-input">
            <div class="form text">{{description}}</div>
        </div>
        {{/each}}
        {{/with}}

        <hr>

        {{#with contact}}
        <h3>{{title}}</h3>
        <div class="row mt-4">
            <div class="col-5">
                {{#with surname}}

                {{#with name}}

                <label class="form label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form text">{{caption}}</div>
                {{/with}}
            </div>


            <ol class="col-5">
                {{#with name}}
                <label class="form label">{{label}}</label>
                <input class="form-control" placeholder="{{placeholder}}">
                <div class="form text">{{caption}}</div>
                {{/with}}
            </ol>

            <div class="col-5 mt-3">



                <div class="col-4 mt-3">

                    {{#with phone}}
                    <label class="form label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form text">{{caption}}</div>
                    {{/with}}
                </div>


                <div class="col-5 mt-3">







                    {{#with email}}
                    <label class="form label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form text">{{caption}}</div>
                    {{/with}}
                </div>
            </div>
            {{/with}}

            <hr>


            {{#with coment}}

            <hr class="col-10">

            {{#each switch}}
            <div class="col-3 mt-3">
                <div class="form-check form-switch">
                    <label class="form-check-label">{{text}}</label>
                    <input type="checkbox" class="form-check-input">
                </div>

            </div>
            {{/each}}
            {{/with}}
            {{/with}}

            <div class="row">
                <div class="card col-2">
                    {{#each action_block}}
                    {{#if isSuccess}}
                    <div><button class="btn btn-success mt-2">{{text}}</button></div>
                    {{/if}}
                    {{#if isDanger}}
                    <div><button class="btn btn-success mt-2">{{text}}</button></div>
                    {{/if}}
                    {{#if isInfo}}
                    <div><button class="btn btn-success mt-2 mb-1">{{text}}</button></div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>




            <div class="row mt-2">
                <div class="card col-2">
                    {{#with total}}
                    <h3>{{title}}</h3>
                    {{#each item_list}}
                    <div>
                        {{name}}:
                        {{price}}
                    </div>
                    {{/each}}
                    <hr>



                    {{#each additional_info}}
                    <div>
                        {{text}}:
                        {{value}}
                    </div>
                    {{/each}}
                    <hr>




                    {{#with total_price}}
                    <div>
                        {{text}}:
                        {{value}}
                    </div>
                    {{/with}}
                    <hr>


                    {{#each button}}
                    {{#if isPrimary}}
                    <div><button class="btn btn-primary">{{text}}</button></div>
                    {{/if}}
                    {{#if isOutline}}
                    <div><button class="btn btn-outline-primary mt-1 mb-1">{{text}}</button></div>
                    {{/if}}
                    {{/each}}
                    {{/with}}
                </div>
            </div>


            <hr>

            <div class="card">
                <div class="row p-3">

                    <hr>

                    <div class="row">
                        <div class="card col-8">

                            {{#with delivery}}
                            <h3>{{title}}</h3>
                            {{#each select}}
                            <label class="form-label">{{label}}</label>
                            <div class="col-8">

                                <div class="col-4">

                                    <select class="form-select mb-2">
                                        <option selected>{{placeholder}}</option>
                                        {{#each options}}
                                        <option value="{{value}}">{{text}}</option>
                                        {{/each}}
                                        {{!--
                                    </select> --}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    {{!-- <select class="form-select mb-2"> --}}
                                        <option selected>{{placeholder}}</option>
                                        {{#each options}}
                                        <option value="{{value}}">{{text}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="col-4 mt-3">
                            {{#each delivery_type}}
                            <div class="form-check">
                                <label class="form-check-label">{{type}}</label>
                                <input type="radio" class="form-check-input">
                            </div>
                            {{/each}}
                        </div>

                        <hr>

                        {{#with payment}}
                        <h3>{{title}}</h3>

                        {{#each list}}
                        <div class="form-check">
                            <label class="form-check-label">{{type}}</label>
                            <input type="radio" class="form-check-input">
                            <div class="form text">{{description}}</div>
                        </div>
                        {{/each}}
                        {{/with}}

                        <hr>

                        {{#with contact}}
                        <h3>{{title}}</h3>
                        <div class="row mt-4">
                            <div class="col-5">
                                {{#with surname}}
                                <label class="form label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form text">{{caption}}</div>
                                {{/with}}
                            </div>

                            <ol class="col-5">
                                {{#with name}}
                                <label class="form label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form text">{{caption}}</div>
                                {{/with}}
                            </ol>

                            <div class="col-5 mt-3">
                                {{#with phone}}
                                <label class="form label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form text">{{caption}}</div>
                                {{/with}}
                            </div>

                            <div class="col-5 mt-3">
                                {{#with email}}
                                <label class="form label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form text">{{caption}}</div>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}

                        <hr>

                        {{#with coment}}
                        <div class="row">
                            <div class="col-8">
                                <label class="form label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                            </div>
                        </div>
                        {{/with}}
                        {{/with}}

                        <hr>


                        {{#with coupon}}
                        <h3>{{title}}</h3>
                        {{#with select}}
                        <div class="col-8">
                            {{#with availabel_coupon}}
                            <label class="form-label mt-2">{{label}}</label>
                            <select class="form-select form-select-lg">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                            {{/with}}
                        </div>

                        <div class="col-8">
                            {{#with friend_coupon}}
                            <label class="form-label mt-2">{{label}}</label>
                            <select class="form-select form-select-sm">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                            {{/with}}
                        </div>
                        {{/with}}

                        <div class="col-8">
                            {{#with add}}
                            {{#with friend}}
                            <label class="form-label mt-2">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form text">{{caption}}</div>
                            {{/with}}

                            {{#with colleague}}
                            <label class="form-label mt-2">{{label}}</label>
                            <input class="form-control" placeholder="{{placeholder}}">
                            <div class="form text">{{caption}}</div>
                        </div>
                        {{/with}}
                        {{/with}}
                        {{/with}}

                        <hr>
</main>
{{#with delivery}}
<h3>{{title}}</h3>
{{#each select}}
<label class="form-label">{{label}}</label>
<div class="col-8">
    <select class="form-select mb-4">
        <option selected>{{placeholder}}</option>
        {{#each options}}
        <option value="{{value}}">{{text}}</option>
        {{/each}}
        {{!--
    </select> --}}
</div>
</div>

<div class="row">
    <div class="col-8">
        <label class="form label">{{label}}</label>
        <input class="form-control" placeholder="{{placeholder}}">
    </div>
</div>
{{/with}}
{{/with}}

<hr>


{{#with coupon}}
<h3>{{title}}</h3>
{{#with select}}
<div class="col-8">
    {{#with availabel_coupon}}
    <label class="form-label mt-2">{{label}}</label>
    <select class="form-select form-select-lg">
        <option selected>{{placeholder}}</option>
        {{#each options}}
        <option value="{{value}}">{{text}}</option>
        {{/each}}
    </select>
    {{/with}}
</div>

<div class="col-8">
    {{#with friend_coupon}}
    <label class="form-label mt-2">{{label}}</label>
    <select class="form-select form-select-sm">
        <option selected>{{placeholder}}</option>
        {{#each options}}
        <option value="{{value}}">{{text}}</option>
        {{/each}}
    </select>
    {{/with}}
</div>
{{/with}}

<div class="col-8">
    {{#with add}}
    {{#with friend}}
    <label class="form-label mt-2">{{label}}</label>
    <input class="form-control" placeholder="{{placeholder}}">
    <div class="form text">{{caption}}</div>
    {{/with}}

    {{#with colleague}}
    <label class="form-label mt-2">{{label}}</label>
    <input class="form-control" placeholder="{{placeholder}}">
    <div class="form text">{{caption}}</div>
</div>
{{/with}}
{{/with}}
{{/with}}

</div>
<div class="col-4">
    <div class="row">
        <div class="card col-4">
            {{#each action_block}}
            {{#if isSuccess}}
            <div><button class="btn btn-success mt-2">{{text}}</button></div>
            {{/if}}
            {{#if isDanger}}
            <div><button class="btn btn-success mt-2">{{text}}</button></div>
            {{/if}}
            {{#if isInfo}}
            <div><button class="btn btn-success mt-2 mb-1">{{text}}</button></div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row mt-2">
        <div class="card col-4">
            {{#with total}}
            <h3>{{title}}</h3>
            {{#each item_list}}
            <div>
                {{name}}:
                {{price}}
            </div>
            {{/each}}
            <hr>
            {{#each additional_info}}
            <div>
                {{text}}:
                {{value}}
            </div>
            {{/each}}
            <hr>
            {{#with total_price}}
            <div>
                {{text}}:
                {{value}}
            </div>
            {{/with}}
            <hr>
            {{#each button}}
            {{#if isPrimary}}
            <div><button class="btn btn-primary">{{text}}</button></div>
            {{/if}}
            {{#if isOutline}}
            <div><button class="btn btn-outline-primary mt-1 mb-1">{{text}}</button></div>
            {{/if}}
            {{/each}}
            {{/with}}
        </div>
    </div>



    <hr>

    <div class="card">
        <div class="row p-3">
            {{#with delivery}}
            <h3>{{title}}</h3>
            {{#each select}}
            <label class="form-label">{{label}}</label>
            <div class="col-6">
                <select class="form-select mb-2">
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                    {{!--
                </select> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{!-- <select class="form-select mb-2"> --}}
                    <option selected>{{placeholder}}</option>
                    {{#each options}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="col-4 mt-3">
        {{#each delivery_type}}
        <div class="form-check">
            <label class="form-check-label">{{type}}</label>
            <input type="radio" class="form-check-input">
        </div>
        {{/each}}
    </div>

    <hr>

    {{#with payment}}
    <h3>{{title}}</h3>

    {{#each list}}
    <div class="form-check">
        <label class="form-check-label">{{type}}</label>
        <input type="radio" class="form-check-input">
        <div class="form text">{{description}}</div>
    </div>
    {{/each}}
    {{/with}}

    <hr>

    {{#with contact}}
    <h3>{{title}}</h3>
    <div class="row mt-4">
        <div class="col-5">
            {{#with surname}}
            <label class="form label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form text">{{caption}}</div>
            {{/with}}
        </div>

        <ol class="col-5">
            {{#with name}}
            <label class="form label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form text">{{caption}}</div>
            {{/with}}
        </ol>

        <div class="col-5 mt-3">
            {{#with phone}}
            <label class="form label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form text">{{caption}}</div>
            {{/with}}
        </div>

        <div class="col-5 mt-3">
            {{#with email}}
            <label class="form label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
            <div class="form text">{{caption}}</div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <hr>

    {{#with coment}}
    <div class="row">
        <div class="col-8">
            <label class="form label">{{label}}</label>
            <input class="form-control" placeholder="{{placeholder}}">
        </div>
    </div>
    {{/with}}
    {{/with}}

    <hr>


    {{#with coupon}}
    <h3>{{title}}</h3>
    {{#with select}}
    <div class="col-8">
        {{#with availabel_coupon}}
        <label class="form-label mt-2">{{label}}</label>
        <select class="form-select form-select-lg">
            <option selected>{{placeholder}}</option>
            {{#each options}}
            <option value="{{value}}">{{text}}</option>
            {{/each}}
        </select>
        {{/with}}
    </div>

    <div class="col-8">
        {{#with friend_coupon}}
        <label class="form-label mt-2">{{label}}</label>
        <select class="form-select form-select-sm">
            <option selected>{{placeholder}}</option>
            {{#each options}}
            <option value="{{value}}">{{text}}</option>
            {{/each}}
        </select>
        {{/with}}
    </div>
    {{/with}}

    <div class="col-8">
        {{#with add}}
        {{#with friend}}
        <label class="form-label mt-2">{{label}}</label>
        <input class="form-control" placeholder="{{placeholder}}">
        <div class="form text">{{caption}}</div>
        {{/with}}

        {{#with colleague}}
        <label class="form-label mt-2">{{label}}</label>
        <input class="form-control" placeholder="{{placeholder}}">
        <div class="form text">{{caption}}</div>
    </div>
    {{/with}}
    {{/with}}
    {{/with}}

    <hr>




</div>
</div>

</main>