{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main class="p-5">
    <div>
        {{#with main}}
        <section class="mt-3">
            <div class="alert alert-success">{{> title data="Work history" big=true}}</div>
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <button class="btn btn-warning mb-3">{{position}}</button>

                        <br>

                        <div>
                            {{duration.from}} -
                            {{#if duration.t0}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>

                        <br>
                        {{#if company.name.url}}
                        <b>{{company.name}}</b>
                        <div>{{> link text=company.name href=company.url blank=true noLine=true}} </div>
                        {{/if}}


                        <br>
                        <br>

                        <div>
                            <strong>Projects ({{projectAmount}})</strong>
                        </div>

                        <br>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{> link text=name href=url blank=true noLine=true}} </div>
                                <br>
                                <div>
                                    <p>{{about}}</p>
                                </div>
                                <br>
                                <div>
                                    <em>Project stacks ({{stackAmount}})</em>
                                </div>
                                <br>
                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <br>
                                <em>Project awards ({{awardAmount}})</em>
                                <br>
                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>
        {{/with}}

    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}